In [2]:
import numpy as np
import pandas as pd

In [24]:
matriz = np.array([
[-7.31490716997037,-2.44910775882425],
[-0.654525284207816,-0.489266610324666],
[-0.490923396886439,1.54461744869859],
[1.71904194237489,-0.655303275823049],
[2.5900864549814,1.8011404526174]])

In [25]:
matriz

array([[-7.31490717, -2.44910776],
       [-0.65452528, -0.48926661],
       [-0.4909234 ,  1.54461745],
       [ 1.71904194, -0.65530328],
       [ 2.59008645,  1.80114045]])

In [26]:
df = pd.DataFrame(data=matriz,columns=["V1","V2"])

In [27]:
df

         V1        V2
0 -7.314907 -2.449108
1 -0.654525 -0.489267
2 -0.490923  1.544617
3  1.719042 -0.655303
4  2.590086  1.801140